.about-component {
    text-align: center;
    position: relative;
    height: 50vh;
    line-height: 50vh;
    background-color: #fff;
    box-sizing: border-box;
    border-top: 2px solid $dark-grey;
}

.about-component .down-arrow {
    border-color: $dark-green transparent transparent transparent;
}

.about-container {
    display: inline-block;
    vertical-align: middle;
    width: 1000px;
    height: 400px;
    line-height: normal;
    color: #373737;
}

.about-paragraph {
    display: inline-block;
    vertical-align: middle;
    width: 1000px;
    line-height: normal;
    color: #373737;
    text-align: justify;
    text-justify: inter-word;
}
