.about-component {
    text-align: center;
    position: relative;
    height: calc(100% - 625px);
    background-color: $grey;
    box-sizing: border-box;
    border-top: 2px solid $dark-grey;
}

.about-container {
    background-color: $grey;
    display: inline-block;
    vertical-align: middle;
    width: 500px;
    height: 200px;
    line-height: normal;
    color: #373737;
}
