.discover-component {
    text-align: center;
    position: relative;
    z-index: $middle;
    height: 100vh;
    line-height: 100vh;
    background-color: $grey;
}

.discover-component .down-arrow {
    border-color: #fff transparent transparent transparent;
}

.discover-container {
    display: inline-block;
    vertical-align: middle;
    width: 1000px;
    height: 750px;
    line-height: normal;
    color: $black;
}

.discover-box {
    margin-top: 50px;
    background-color: $green;
    height: 600px;
}
