.man-container {
    display: inline-block;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
    color: $black;
    width: 100%;
    max-width: 1300px;
    min-width: 500px;
    border-left: 1px solid $grey;
    border-right: 1px solid $grey;
    text-align: justify;
    text-justify: inter-word;
}

.man-container h1 {
    font-family: $title-font;
    font-weight: bold;
    font-size: 35pt;
    margin: 40px 0 20px 0;
}

.man-container h2 {
    font-family: $title-font;
    font-weight: bold;
    font-size: 30pt;
    margin: 40px 0 20px 0;
}

.man-container h3 {
    font-family: $title-font;
    font-weight: bold;
    font-size: 22pt;
    margin: 40px 0 20px 0;
}

.man-container h4 {
    font-family: $title-font;
    font-weight: bold;
    font-size: 17pt;
    margin: 40px 0 20px 0;
}

.man-container ul {
    font-family: $light-font;
    font-weight: 400;
    font-size: 13pt;
    list-style-type: initial;
    margin: 20px 0 20px 40px;
}

.man-container li {
    margin: 10px 0 10px 0px;
}

.man-container pre {


}

.man-container pre code {
    margin: 10px 0 10px 0px;
    padding: 20px 20px 20px 20px;  display: block;
    background: #2d2d2d;
    color: #cccccc;
    font-family: Menlo, Monaco, Consolas, monospace;
    line-height: 1.5;
    border: 1px solid #ccc;
    padding: 10px;
}

.man-container blockquote {
    margin: 20px 0 20px 0px;
    padding: 0px 10px 0px 10px;
    color: #939393;
    font-family: $light-font;
    font-weight: 400;
    font-size: 13pt;
    border-left: 5px solid $grey;
}

.man-container img {
    position: relative;
    max-width: 100%;
}
