.left-menu {
    width: 250px;
    height: 100%;
    background-color: #1A1919;
    z-index: $front;
    overflow-x: hidden;
    box-shadow: inset -5px 0px 0px #2398DB;
    & ul {
        background-color: #2398DB;
        & li {
            display: inline-block;
            background-color: #1A1919;
            width: 98%;
            transition: 0.2s;
            cursor: pointer;
            &.menu-elem:hover {
                width: 85%
            }
            &.menu-title a {
                display: inline-block;
                width: calc(100% - 25px);
                padding: 10px 0px 10px 15px;
                margin: 0px 5px 10px 5px;
                font-family: $title-font;
                font-size: 25pt;
                font-weight: 700;
                color: #fff;
                border-bottom: solid 1px #474747;
                transition: 0.2s;
                &:hover {
                    color: #E15C56;
                }
            }
            &.menu-sub-title a {
                display: inline-block;
                width: calc(100% - 25px);
                padding: 10px 0px 10px 15px;
                margin: 0px 5px 10px 5px;
                font-family: $light-font;
                font-size: 18pt;
                font-weight: 400;
                color: #fff;
                border-bottom: solid 1px #474747;
                transition: 0.2s;
            }
            &.menu-elem{
                & a {
                    width: 100%;
                    display: inline-block;
                    padding: 10px 0px 5px 20px;
                    font-family: $light-font;
                    color: #8B8B8B;
                    font-size: 15pt;
                    font-weight: 300;
                    transition: 0.2s;
                    &:hover{
                        color: #fff;
                        padding: 10px 0px 5px 15px;
                        margin-right: 100px;
                    }

                }
                &.targeted {
                    width: 85%;
                    & a{
                        color: #E15C56;
                        &:hover{
                            color: #E15C56;
                        }
                    }
                }
            }
        }
    }
}
.left-menu a:link
{
	text-decoration:none;
}

.left-menu a:visited
{
	text-decoration:none;
}
