body {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
}

h1 {
    font-family: $title-font;
    font-weight: bold;
    font-size: 90pt;
}

h2 {
    font-family: $title-font;
    font-weight: bold;
    font-size: 40pt;
}

h3 {
    font-family: $title-font;
    font-weight: bold;
    font-size: 20pt;
}

p {
    font-family: $p-font;
    font-weight: normal;
    font-size: 15pt;
}

#app-view,#app-view .view-container {
    width: 100%;
    height: 100%;
}
.view-container{
    display: inline-flex;
}

.down-arrow {
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 10px 0 10px;
}

.main-container {
    text-align: center;
    width: calc(100% - 250px);
    height: 100%;
    background-color: #fff;
    overflow-y: scroll;
}
