$black: #1A1919;
$black-hover: #3A3A3A;

$grey: #F0F0F0;
$dark-grey: #D9D9D9;

$red: #E15C56;
$red-hover: #EEAEA4;

$green: #69C169;
$dark-green: #5FA660;
$green-hover: #ABF294;

$blue: #2398DB;
$blue-hover: #69C9F2;
